<div class="row">
    <div class="col-6">
      <div>
        <ul class="footerul">
          <li>
            <a class="footerli" href="#">services</a>
          </li>
          <li>
            <a class="footerli" href="#">About Us</a>
          </li>
          <li>
            <a class="footerli" href="#">Contact Us</a>
          </li>
        </ul>
      </div>
    </div>
    <div class="col-6">
        <p>Address</p>
    </div>
    
  </div>
  