<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">Avorika</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <i class="fas fa-home"><a class="nav-link active" aria-current="page" href="#">Home</a></i>
                </li>
                <li class="nav-item">
                    <i class="fas fa-concierge-bell"><a class="nav-link" href="#">Services</a></i>
                </li>
                <li class="nav-item dropdown">
                    <i class="fas fa-archive"></i><a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Category
            </a></i>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <%for(var i=0;i<categorylist.length;i++){%>
                            <li>
                                <a class="dropdown-item" href="#">
                                    <%=categorylist[i].CategoryName%>
                                </a>
                            </li>
                            <%}%>
                    </ul>

                </li>
                <li class="nav-item">
                    <i class="fas fa-address-card"></i><a class="nav-link" href="#">About</a></i>
                </li>
                <li class="nav-item">
                    <i class="fas fa-id-card-alt"></i><a class="nav-link" href="#">Contact</a></i>
                </li>
            </ul>

            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <i class="fas fa-cart-plus"><a class="nav-link" data-bs-toggle="modal" data-bs-target="#cartmodal">[0]</a></i>
                </li>
                <% if(info==undefined){%>
                    <li class="nav-item">
                        <i class="fas fa-sign-in-alt"><a class="nav-link" href="/login">Sign In</a></i>
                    </li>
                    <%}else{%>
                        <li class="nav-item">
                            <i class="fas fa-sign-in-alt"><a class="nav-link" href="#" data-bs-toggle="modal" data-bs-target="#profilemodal">Hi...<%=info.UserFirstName%></a></i>
                        </li>
                        <%}%>
            </ul>
            <form class="d-flex">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-success" type="submit">Search</button>
            </form>
        </div>
    </div>
</nav>
<!-- 1802585656 -->
<!-- Modal cart -->
<div class="modal fade" id="cartmodal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                ...
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal Profile -->
<div class="modal fade" id="profilemodal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">

                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Edit</button>
                    <a href="/logout"><button type="button" class="btn btn-primary">Logout</button></a>
                </div>
            </div>
        </div>
    </div>