<div class='col-6'>
    <div class="card" style="width: 18rem;">
        <img src="..." class="card-img-top" alt="company logo">
        <div class="card-body">
            <h5 class="card-title">Add Product</h5>
            <div>
                <form>
                    <div class="mb-3">
                        <label for="productname" class="form-label">Product Name</label>
                        <input type="text" class="form-control" name='productname' id="productname" aria-describedby="productname">
                    </div>
                    <div class="mb-3">
                        <div class="dropdown">
                            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                              Select Category
                            </button>
                            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                                <li><a class="dropdown-item" value='action1' href="#">Action</a></li>
                                <li><a class="dropdown-item" value='action2' href="#">Another action</a></li>
                                <li><a class="dropdown-item" value='action3' href="#">Something else here</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="mb-3">
                        <label for="productdescription" class="form-label">Product Description</label>
                        <input type="text" class="form-control" id="productdescription" aria-describedby="productdescription">
                    </div>
                    <div class="mb-3">
                        <label for="productprice" class="form-label">Product Price</label>
                        <input type="text" class="form-control" id="productprice" aria-describedby="productprice">
                    </div>
                    <div class="mb-3">
                        <label for="productdiscount" class="form-label">Product Discount</label>
                        <input type="text" class="form-control" id="productdiscount" aria-describedby="productdiscount">
                    </div>
                    <div class="mb-3">
                        <label for="productimage" class="form-label">Product Image</label>
                        <input type="file" class="form-control" id="productimage" aria-describedby="productimage">
                    </div>


                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>
            </div>

        </div>
    </div>
</div>